body{
    margin: 20px 20px;
    box-sizing: border-box;
}

.mainMenu{
    box-sizing: border-box;
    min-width: 700px;
    padding: 0;

}

.mainMenu>li{
    width: 10%;
    height: auto;
    text-align: center;
    color: white;
    border: 1px solid darkgreen;
    background-color: #4C996B;
    padding: 10px 0;
    font-family: sans-serif;
    font-weight:500 ;
    display: inline-block;
}

.mainMenu>.categories{
    position: relative;

}

.mainText{
    width:60%;
}
.mainMenu>*:hover{
    background-color: darkgreen;
    cursor: pointer;
}

.contextMenu{
    position: absolute;
    display: none;

}

.contextMenu>*:hover{

}
